.btn {
  background-color: rgba(0, 72, 255, 1);
  border:none;
  width:240px;
  height: 70px;
  font-size: 28px;
  border-radius: 10px;;
  
  a{
    text-decoration: none;
    color:$color-white;
  }
}