.cardItem {
  width: 400px;
  margin: 30px;
  text-decoration: none;
  color: $color-black;

  &__fig {
    margin-bottom: 20px;
  }

  &__tit {
    font-size: $textFontSize-big;
    margin-bottom: 10px;
  }
}