.colItem {
  text-align: center;
  margin: 0 48px;

  &--blog {
    text-decoration: none;
    color: $color-black;
  }

  img {
    background-size: cover;
    width: 100px;
  }

  &__tit {
    font-size: $textFontSize-big;
    margin: 30px 0;
  }

  &__text {
    text-align: left;
    width: 280px;
  }

  &__fig {
    background-size: cover;
    width: 350px;
  }
}
