.drawer {
  &__item {
    a {
      font-size: $textFontSize-middle;
    }
  }

  &__btn {
    margin-right: 15px;

    // クラス名はdrawer.jsの決まったクラス名を指定
    & .drawer-hamburger-icon,
    & .drawer-hamburger-icon:after,
    & .drawer-hamburger-icon:before {
      @include mq-down("lg") {
        width: 30px;
        margin-right: 15px;
      }
    }
  }
}
