.footer {
  width: 100%;
  height: 150px;
  background-color:$color-darkGray;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq-down("lg") {
    height: 100px;
  }

  @include mq-down("sm") {
    height: 80px;
  }

  &__txt {
    font-size: $textFontSize-middle;
    color:$color-white;
  }
}