.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  z-index: 100;

  &-inner {
    display: flex;
  }

  &-nav {
    margin: 0 0 0 auto;
  }

  &-logo {
    width: 300px;
    line-height: 80px;
    text-align:center;
    border-right: solid 1px #cfcfcf;

    a {
      text-decoration: none;
    }
  }
}