.header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0px;
  padding-right:30px;
  z-index: 100;

  @include mq-down("lg") {
    height: 60px;
  }

  &--scrolled {
    background-color: white;
  }
}