.nav {
  &--header {
    margin: 0 0 0 auto;
  }

  &__list {
    display: flex;
    line-height: 80px;
    & a {
      text-decoration: none;
      font-size: $textFontSize-small;
      margin: 0 0 0 30px;
      color: $color-black;
    }
  }
}
