.sec {
  &--mt {
    margin-top: 80px; 

    @include mq-down("lg") {
      margin-top: 60px;
    }
  }

  &--topbg {
    width: 100%;
    height: 910px;
    background-image: url("../img/bg-top.jpg");
    background-size: cover;

    @include mq-down("lg") {
      height: 55vh;
      background-position-x: center;
    }
  }
}
