.table {
  margin: 60px auto;

  &__line {
    text-align: left;
    border-bottom: dashed 1px $color-middlegray;
    font-size: $textFontSize-small;

    td {
      width: 200px;
      line-height: 50px;
    }
  }
}
