.table {
  margin: 30px auto;

  &__line {
    text-align: left;
    border-bottom: dashed 1px $color-middlegray;
    font-size: $textFontSize-small;

    td {
      width: 200px;
      line-height: 50px;

      @include mq-down("md") {
        width: 150px;
        line-height: 40px;
      }
    
      @include mq-down("sm") {
        width: 100px;
        line-height: 25px;
      }
    }
  }
}
