.top {
  width: 100%;
  height:100%;

  display:flex;
  justify-content: center;
  align-items: center;
  

  &__inner {
    width:80%;
    height:300px;
    margin-top: 200px;
  }

  &__title {
    color:$color-white;
    font-size: 84px;
  }

  &__text {
    color: $color-white;
    margin-bottom: 30px;
  }
}