.top {
  width: 100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  

  &__inner {
    width:80%;
  }

  &__title {
    color:$color-white;
    font-size: $titleFontSize-big;
  }

  &__text {
    color: $color-white;
    margin-bottom: 30px;
    font-size: $textFontSize-small;
  }
}